<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.Master.cs" Inherits="ExampleWebFormsApplication.SiteMaster" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server" id="Head1">
    <title>Example Web Forms Application</title>
    <asp:ContentPlaceHolder ID="HeadContent" runat="server" />
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager ID="scriptManager" runat="server" />
        <header>
            <h1><asp:Label ID="lblHeading" runat="server" Text="Example Web Forms Application" /></h1>
        </header>
        <main>
            <asp:ContentPlaceHolder ID="MainContent" runat="server" />
        </main>
        <footer>
            <!-- Controls inside HTML comments are still server controls in ASP.NET, so they get a field too. -->
            <asp:Literal ID="litFooter" runat="server" />
        </footer>
    </form>
</body>
</html>
